body, nav {
    background-color: #998247;
}

h1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

a:hover {
    color: black;
}

.card{
    width:150px;
    height:110px;
    border:2px solid black;
    margin:1rem;
    background-color:#b7a567;
    box-shadow:4px 8px;

}

.light{
    background-color:#b7a567;
}

.medium{
    background-color:sienna;
}

.dark{
    background-color:saddlebrown;
}
